version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: chrono-redis-compose
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    command: redis-server --appendonly yes --requirepass "0000" # Пример команд